@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.section{
  display: flex;
}

.sidebar{
  width: 30vw;
  padding: 25px 10px;
  background-color: rgb(32, 32, 46);
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

.sb-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.sb-label {
  color: rgb(131, 189, 255);
  padding: 16px 0px;
  font-size: 1.3rem;
  font-weight: 600;
}

.sb-input {
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 3px;
}

.sb-textarea{
  border-radius: 3px;
  font-size: 1.2rem;
}

.sb-select{
  border-radius: 3px;
  font-size: 1.2rem;
}

textarea::placeholder {
  font-size: 15px;
  color: rgb(52, 143, 204);
}

input::placeholder{
  font-size: 14px;
  color: rgb(52, 143, 204);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.room{
  border: black;
}

.submitButton {
  margin: 20px 0px;
  border: none;
  padding: 12px 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(42, 129, 228);
  cursor: pointer;
}

.popup{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  z-index: 1;
}

.m-card{
  width: 300px;
}

.m-label{
  font-size: 1.5rem;
}